/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --primary-colour: #003566;
    --secondary-colour: #A54657;
    --accent-colour: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-colour);
}

html {
    scroll-behavior: smooth;
}

/* DESKTOP NAV MENU */
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.nav-links a {
    color:var(--secondary-colour);
    text-decoration: none;
    text-decoration-color: var(--secondary-colour);
}

.nav-links a:hover {
    color:var(--accent-colour);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--accent-colour);
}

.nav-logo {
    font-size: 2rem;
    color: var(--secondary-colour);
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav {
    display: none; /*desktop view - won't show up*/
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-colour);
    transition: all 0.3 ease-in-out;
}

.hamburger-menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--accent-colour);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--accent-colour);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* WEBPAGE GENERAL */
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4vh;
    height: 100vh;
    box-sizing: border-box;
    min-height: fit-content;
    position: relative;
}

.bg-image {
    background-color: var(--primary-colour);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-1-image {
    background-image: url(assets/bg-1.png);
}

.bg-2-image {
    background-image: url(assets/bg-2.png);
}

.icon {
    height: 2rem;
    fill: var(--accent-colour);
}

.interact-icon {
    cursor: pointer;
}

.interact-icon:hover {
    scale: 1.1;
    fill:var(--secondary-colour);
}

.btn {
    font-weight: 600;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--accent-colour);
    color:var(--secondary-colour);
    border: var(--secondary-colour) 0.1rem solid;
}

.btn:hover {
    scale: 1.05;
    cursor: pointer;
    color: var(--accent-colour);
    background-color: var(--secondary-colour);
    border: var(--accent-colour) 0.1rem solid;
}

/* INDEX GENERAL */
.index-title {
    text-align: center;
}

.index-section {
    margin: 0 10rem;
}

.index-section-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.index-section-title-container h1 {
    color: var(--accent-colour);
    font-size: 3rem;
}

.index-section-container {
    margin-top: 2rem;
}

.index-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.index-box {
    border: var(--accent-colour) 0.1rem solid;
    border-radius: 2rem;
    background-color: var(--secondary-colour);
    padding: 1.5rem;
    flex: 1;
    text-wrap: wrap;
    color: var(--primary-colour);
}

.index-box article {
    margin-bottom: 10px;
}

.index-box h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--accent-colour);
}

.index-box h3 {
    color: var(--accent-colour);
}

.index-box p {
    font-weight: 600;
}

/* HERO SECTION */
.hero-title {
    font-family: "Anta", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent-colour);
    font-size: 5rem;
}

.hero-subtitle {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--secondary-colour);
}

.hero-btns-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-socials-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-bg-image {
    background-image: url(assets/hero-bg.png);
}

/* ABOUT SECTION */
.profile-pic {
    border-radius: 2rem;
    max-width: 400px;
}

.about-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
    margin-top: 2rem;
    height: 80%;
}

/* SKILLS SECTION */


/* CONTACT SECTION */
.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
}