/* #region GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&display=swap');

:root {
    --primary-colour: #FFFFFF;
    --secondary-colour: #53A9DD;
    --accent-colour: #000000;
    --background-colour: #D9D9D9;

    --text-shadow: 1px 1px var(--accent-colour);
    --box-shadow: 10px 10px var(--secondary-colour);

    --heading-font: "Play", sans-serif;
    --body-font: "Gantari", sans-serif;

    --border: solid var(--accent-colour);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-colour);
}

html {
    scroll-behavior: smooth;
}

.icon {
    width: 4rem;
    fill: var(--secondary-colour);
}

.interact-icon {
    height: 2.3rem;
    fill: var(--secondary-colour);
    margin: 0.3rem;
    cursor: pointer;
}

.interact-icon:hover {
    scale: 1.05;
    fill:var(--accent-colour);
}
/* #endregion */

/* #region SECTIONS */
section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 92vh;
    min-height: fit-content;
    position: relative;
}

.section-title-container {
    background-image: url("/assets/blue-low-poly.png");
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
    border-width: 2px 0px 2px 0px;
}

.section-title-container h1 {
    font-family: var(--heading-font);
    color: var(--primary-colour);
    text-shadow: var(--text-shadow);
    font-size: 3rem;
}
/* #endregion */

/* #region FOOTER */
footer p {
    color: var(--secondary-colour);
    text-align: center;
    margin: 10px;
}
/* #endregion */

/* #region DESKTOP NAV MENU */
#desktop-nav {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    height: 8vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/blue-low-poly.png");
    font-size: 2rem;
    color: var(--primary-colour);
    font-family: var(--heading-font);
    font-weight: bold;
    text-shadow: var(--text-shadow);
    flex-basis: 40%;
    border: var(--border);
    border-width: 2px 0px 2px 0px;
}

.logo:hover {
    cursor: default;
}

.nav-links {
    flex-basis: 60%;
    background-color: var(--primary-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: var(--body-font);
    border: var(--border);
    border-width: 2px 0px 2px 2px;
}

.nav-links ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 80%;
}

.nav-links a {
    color:var(--accent-colour);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--accent-colour);
}

.nav-links a:hover {
    font-weight: bold;
}
/* #endregion */

/* #region HAMBURGER MENU */

#hamburger-nav {
    display: none; /*desktop view - won't show up*/
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--accent-colour);
    transition: all 0.3 ease-in-out;
}

.hamburger-menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--secondary-colour);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--accent-colour);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}
/* #endregion */

/* #region HERO */
#hero {
    background-image: url("/assets/grey-low-poly.png");
}

.hero-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero-box {
    background-color: var(--primary-colour);
    border: 2px var(--border);
    box-shadow: var(--box-shadow);
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-family: var(--heading-font);
    font-size: 5rem;
    text-align: center;
    color: var(--secondary-colour);
    text-shadow: var(--text-shadow);
    margin-top: 2rem;
}

.hero-subtitle {
    font-family: var(--body-font);
    text-align: center;
    font-size: 1.3rem;
}

.hero-socials-container {
    margin: 1.3rem;
}

.hero-links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero-links-container a {
    color:var(--accent-colour);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--accent-colour);
    cursor: pointer;
    font-family: var(--body-font);
}

.hero-links-container a:hover {
    font-weight: bold;
}
/* #endregion */

/* #region INDEX PROJECTS */

.index-projects-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
}

.index-project-box {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 30%;
    background-color: var(--primary-colour);
    border: var(--border);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.index-project-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 60%;
    height: 100%;
}

.index-project-img {
    height: 100%;
    flex-basis: 40%;
}

.index-project-box-title {
    font-family: var(--body-font);
    color: var(--secondary-colour);
    margin-bottom: 1.2rem;
}

.index-project-desc {
    font-family: var(--body-font);
}

.index-project-extra {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.2rem;
}

.index-project-tools {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1.5rem;
}

.index-project-tool {
    background-color: var(--background-colour);
    border: 1px var(--border);
    font-family: var(--body-font);
    font-size:x-small;
    font-weight: bold;
    text-align: center;
    padding: 0.3rem 1rem;

}

.index-project-link {
    text-align: center;
}

.index-project-portfolio-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.index-projects-container a {
    color:var(--accent-colour);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--accent-colour);
    cursor: pointer;
    font-family: var(--body-font);
}

.index-projects-container a:hover {
    font-weight: bold;
}

/* #endregion */

/* #region SKILLS */
#skills {
    background-image: url("/assets/grey-low-poly.png");
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.skills-container-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 54%;
}

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--primary-colour);
    border: 2px var(--border);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    padding: 1rem;
    min-width: 50%;
}

.skills-box-title {
    font-family: var(--body-font);
    color: var(--secondary-colour);
    margin-bottom: 1rem;
}

.skills-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    min-width: 100%;
}

.skills-box-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    min-width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--body-font);
    margin: 0.6rem;
    max-width: 25%;
    min-width: 25%;
}

.skill h3 {
    font-size: 0.9rem;
}

.skill p {
    font-size: 0.8rem;
}

.skill img {
    max-width: 60px;
    margin-bottom: 0.3rem;
}
/* #endregion */

/* #region ABOUT */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.about-box {
    background-color: var(--primary-colour);
    border: var(--border);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding: 2rem;
    gap: 1.5rem;
    margin: 1rem;
}

.about-pic {
    width: 35%;
}

.about-pic img {
    width: 100%;
}

.about-details {
    width: 65%;
    height: 100%;
    font-family: var(--body-font);
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-box-title {
    color: var(--secondary-colour);
    margin-bottom: 1rem;
}

.education-box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 1rem;
}

.education-box {
    background-color: var(--primary-colour);
    border: var(--border);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--body-font);
    padding: 1rem;
    margin: 1rem;
    max-width: 42%;
}

.education-box-title {
    color: var(--secondary-colour);
    margin-bottom: 1rem;
}

.education-box-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    text-wrap: wrap;
    text-align: center;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    background-color: red;
}

.education h3 {
    font-size: 0.9rem;
}

.education p {
    font-size: 0.8rem;
}

.education svg {
    margin-bottom: 0.3rem;
    height: 80px;
}
/* #endregion */

/* #region CONTACT */

/* #endregion */