/* #region GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&display=swap');

:root {
    --primary-colour: #FFFFFF;
    --secondary-colour: #53A9DD;
    --accent-colour: #000000;
    --background-colour: #D9D9D9;

    --text-shadow: 1px 1px var(--accent-colour);
    --box-shadow: 10px 10px var(--secondary-colour);

    --heading-font: "Play", sans-serif;
    --body-font: "Gantari", sans-serif;

    --border: solid var(--accent-colour);

    --f-hero: clamp(2.5rem, 5vw + 1rem, 5rem);
    --f-subtitle: clamp(1rem, 1vw + 0.5rem, 1.3rem);
    --f-section: clamp(1.5rem, 2vw + 1rem, 2rem);
    --f-body: clamp(1rem, 0.7vw + 0.5rem, 1.2rem);
    --f-nav: clamp(1.1rem, 0.5vw + 1rem, 1.25rem);
    --f-link: clamp(0.9rem, 0.7vw + 0.5rem, 1rem);
    --f-box-title: clamp(1.2rem, 1vw + 0.5rem, 1.4rem);
    --f-tag: 0.8rem;
    --f-badge-title: 0.9rem;
    --f-badge-body: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-colour);
}

html {
    scroll-behavior: smooth;
}
/* #endregion */

/* #region REPEATING THEMES */
.low-poly-bg {
    background-image: url("/assets/grey-low-poly.png");
    background-size: cover;
}

.icon {
    fill: var(--secondary-colour);
}

.interact-icon {
    height: clamp(2rem, 2.5vw + 1rem, 2.3rem);
    margin: 0.3rem;
    cursor: pointer;
}

.interact-icon:hover {
    scale: 1.05;
    fill: var(--accent-colour);
}

.link {
    font-family: var(--body-font);
    font-weight: 500;
    color:var(--accent-colour);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--accent-colour);
    cursor: pointer;
}

.no-link {
    font-family: var(--body-font);
    font-weight: 500;
    color:var(--accent-colour);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--accent-colour);
}

.link:hover {
    font-weight: bold;
}

.box-link {
    font-size: var(--f-link);
}

.nav-link {
    font-size: var(--f-nav);
}

/* For embedded videos */
iframe {
    border: none;
}

/*  Key visual element for each section */
.box {
    background-color: var(--primary-colour);
    border: 2px var(--border);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    font-family: var(--body-font);
    font-size: var(--f-body);
}

.box ul {
    padding-left: 1.5rem;
}

/* Heading that appears within a box element */
.box-heading {
    color: var(--secondary-colour);
    margin-bottom: 1rem;
    font-size: var(--f-box-title);
}

/* Any small icon-text combo */
.box-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    text-align: center;
}

.box-badge h3 {
    font-size: var(--f-badge-title);
}

.box-badge p {
    font-size: var(--f-badge-body);
}

.box-badge svg {
    margin-bottom: 0.3rem;
    aspect-ratio: 1;
    max-width: 60px;
}

.box-badge img {
    margin-bottom: 0.3rem;
    max-width: 60px;
}

/* An important bit of info highlighted but not clickable */
.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-colour);
    border: 1px var(--border);
    font-family: var(--body-font);
    font-size: var(--f-tag);
    font-weight: bold;
    text-align: center;
    text-wrap: wrap;
    padding: 0.2rem 0.5rem;
}
/* #endregion */

/* #region SECTIONS */
section {
    display: flex;
    justify-items: center;
    flex-direction: column;
    min-height: fit-content;
}

.section-title-container {
    background-image: url("/assets/blue-low-poly.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
    border-width: 3px 0px 3px 0px;
}

.section-title-container h1 {
    font-family: var(--heading-font);
    color: var(--primary-colour);
    text-shadow: var(--text-shadow);
    font-size: var(--f-section);
    padding: 1rem;
    text-align: center;
}
/* #endregion */

/* #region TOP NAV */
#top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-grow: 1;
    flex-basis: 55%;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/blue-low-poly.png");
    background-size: cover;
    padding: 1rem 2rem 1rem 2rem;
    outline: 3px var(--border)
}

.logo a {
    font-size: var(--f-section);
    color: var(--primary-colour);
    font-family: var(--heading-font);
    font-weight: bold;
    text-shadow: var(--text-shadow);
    text-decoration: none;
    text-align: center;
}

.logo a:hover {
    cursor: pointer;
}

#top-nav-links {
    flex-grow: 1;
    background-color: var(--primary-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem 1rem 2rem;
    outline: 3px var(--border)
}

#top-nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 1.5rem 2rem;
    text-align: center;
}
/* #endregion */

/* #region TOP NAV MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    #top-nav-links ul {
        flex-wrap: wrap;
    }
}
/* #endregion */

/* #region HERO */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: clamp(300px, 70%, 1000px);
}

.hero-title {
    font-family: var(--heading-font);
    font-size: var(--f-hero);
    text-align: center;
    color: var(--secondary-colour);
    text-shadow: var(--text-shadow);
    margin-top: 2rem;
}

.hero-subtitle {
    text-align: center;
    font-size: var(--f-subtitle);
}

.hero-socials-container {
    margin: 1.3rem;
}

.hero-links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* #endregion */

/* #region INDEX PROJECTS */
.index-projects-container {
    align-self: center;
    width: clamp(324px, 70%, 1000px);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    margin: 2rem;
}

.index-projects-container::-webkit-scrollbar {
    height: 1rem;
    width: 75%;
}

.index-projects-container::-webkit-scrollbar-track {
    background: var(--primary-colour);
}

.index-projects-container::-webkit-scrollbar-thumb {
    background: var(--accent-colour);
}

.index-project-box {
    scroll-snap-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 1rem;
    margin-bottom: 3rem;
    gap: 1.5rem;
}

.index-project-image {
    display: flex;
    flex-basis: 55%;
    flex-grow: 1;
}

.index-project-image img {
    width: 100%;
    aspect-ratio: 16 / 9;
    min-width: 350px;
    object-fit: contain;
}

.index-project-details {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    flex-grow: 1;
}

.index-project-desc {
    width: 100%;
    flex-grow: 3;
}

.index-project-extra {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.2rem;
}

.index-project-tools {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1.5rem;
}

.index-project-link {
    text-align: center;
}

.index-project-portfolio-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* #endregion */

/* #region INDEX PROJECT MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .index-project-image img {
        min-width: auto;
    }
}
/* #endregion */

/* #region SKILLS */
.skills-container {
    align-self: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
}

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
}

.skills-box-content {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;
}
/* #endregion */

/* #region SKILLS MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
}
/* #endregion */

/* #region ABOUT */
.about-container {
    align-self: center;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    width: clamp(300px, 70%, 1000px);
}

.about-box {
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.5rem;
}

.about-pic {
    flex-grow: 1;
    display: flex;
    flex-basis: 35%;
}

.about-pic img {
    max-width: 100%;
    object-fit: contain;
}

.about-details {
    flex-grow: 2;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-box-content {
    width: 100%;
}

.education-box {
    display: flex;
    flex-direction: column;
}

.education-box-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}
/* #endregion */

/* #region ABOUT MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    .about-container {
        grid-template-columns: 1fr;
    }

    .about-box {
        grid-column: 1 / 2;
        flex-direction: column;
        gap: 1rem;
    }
}
/* #endregion */

/* #region CONTACT */
.contact-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    width: clamp(324px, 70%, 600px);
}

.contact-box {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.contact-box-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 3;
}

.contact-box-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    flex-grow: 1;
}
/* #endregion */

/* #region FOOTER */
footer {
    background-color: var(--primary-colour);
    border: var(--border);
    border-width: 2px 0px 2px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    margin: 1rem;
}

.footer-socials-container {
    flex-basis: 40%;
    margin: 1rem;
    display: flex;
    justify-content: center;   
    align-items: center; 
}

.email-icon {
    height: 2.5rem;
}

.footer-nav {
    flex-basis: 15%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}
/* #endregion */

/* #region FOOTER MEDIA QUERIES */
@media screen and (max-width: 800px) {
    footer {
        flex-direction: column;
    }
}
/* #endregion */

/* #region GAMES/APPS PAGES */
.project-container {
    width: clamp(300px, 65%, 1400px);
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(280px, 45%, 420px));
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-img img {
    max-width: 100%;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
}

.project-extras {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.project-tools {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.project-link {
    display: flex;
    justify-content: flex-end;
}
/* #endregion */

/* #region PROJECT PAGE HERO */
.project-hero-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: clamp(300px, 70%, 1000px);
    gap: 1.5rem;
    margin: 2rem;
}

.project-hero-visual {
    flex-basis: 50%;
    display: flex;
    flex-grow: 1;
}

.project-hero-visual iframe, .project-hero-visual img {
    width: 100%;
    min-width: 400px;
    aspect-ratio: 16 / 9;
}


.project-hero-details {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}

.project-hero-desc {
    width: 100%;
    flex-grow: 3;
}

.hero-project-links {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.2rem;
    flex-grow: 1;
}
/* #endregion */

/* #region PROJECT PAGE HERO MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .project-hero-visual iframe, .project-hero-visual img {
        min-width: auto;
    }
}
/* #endregion */

/* #region PROJECT PAGE OVERVIEW */
.project-overview-container {
    width: clamp(300px, 80%, 1400px);
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(320px, 28%, 360px));
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

.overview-box {
    display: flex;
    flex-direction: column;
}

.overview-box-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: stretch;
    gap: 0.5rem;
}

/* #endregion */

/* #region PROJECT PAGE DUTIES */
.project-duties-container {
    width: clamp(300px, 70%, 1000px);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.project-duties-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.project-duties-image {
    display: flex;
    flex-basis: 40%;
    flex-grow: 1;
}

.project-duties-image img {
    max-width: 100%;
    min-width: 250px;
    object-fit: contain;
}

.project-duties-details {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/* #endregion */

/* #region PROJECT PAGE BREAKDOWN */
.project-breakdown-box {
    display: flex;
}

.project-breakdown-details {
    display: flex;
    flex-direction: column;
}

.project-breakdown-image img {
    width: 100%;
}
/* #endregion */





/* #region DESKTOP NAV */
#desktop-nav {
    flex-basis: 60%;
    background-color: var(--primary-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1rem;
}

#desktop-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
}
/* #endregion */

/* #region MOBILE NAV */
#mobile-nav {
    background-color: var(--primary-colour);
    display: none; /*desktop view - won't show up*/
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 32px;
    max-width: 37px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 3px;
    background-color: var(--accent-colour);
    transition: all 0.3 ease-in-out;
}

.hamburger-menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--secondary-colour);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--accent-colour);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}
/* #endregion */
